.SummaryCard {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 25px;
    width: 1000px;
    background-color: white;
    font-family: sans-serif;
}

.title{
    text-align: center;
    font-size: 30px;
}

.timeStamp{
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

.upvote{
    width: 30px;
    float: left;
}

.moreButton {
    width: 30px;
    float:right;
}