.SummaryCard {
    position: relative;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
    margin-bottom: 25px;
    width: 1000px;
    background-color: white;
    font-family: sans-serif;
}

.title{
    text-align: center;
    font-size: 30px;
}

.timeStamp{
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

.upvoteImage{
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 35px;
    left: 10px;
}

.upvoteCount{
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 15px;
    text-align: left;
    line-height: 0px;
}

.moreButton {
    width: 30px;
    float:right;
}